<article itemscope="" itemtype="http://schema.org/BlogPosting">
  <header class="bg-blue sans-serif">
    <nav class="dt w-100 mw8 center">
      <div class="dtc v-mid tr pa3">
        <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="::baseurl/" itemprop="url">Home</a>
        <a class="f6 fw4 hover-white no-underline white-70 dib pv2 ph3" href="::baseurl/website-analytics.html">Website Analytics</a>
        <a class="f6 fw4 hover-white no-underline white-70 dib pv2 ph3" href="::baseurl/marketing-campaign-analytics.html">Marketing Campaign Analytics</a>
        <a class="f6 fw4 hover-white no-underline white-70 dib pv2 ph3" href="::baseurl/try-visitorkit.html">Try Now</a>
      </div>
    </nav>
    <div class="mw9 center pa4 pt5-ns ph7-l">
      <time class="f6 mb2 dib ttu tracked white"><small>::date</small></time>
      <h1 itemprop="name headline" class="f3 f2-ns measure-narrow lh-title mv0">
        <span class="bg-black-90 lh-copy white pa1 tracked-tight">
          ::title
        </span>
      </h1>
      <h2 class="f3 fw1 white i">::summary</h2>
      <p class="f6 ttu tracked white black-80">By
        <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
        <a href="https://www.terrillo.com" class="white no-underline" target="_blank" itemprop="url" rel="author">Terrillo Walls</a>
        </span>
      </p>
      <div itemprop="breadcrumb white" class=" mt4 db">
        <a class="white no-underline"  href="::baseurl/">Home</a> <span class="white">></span>
        <a class="white no-underline" href="::baseurl/blog/index.html"><strong>Blog</strong></a>
      </div>
    </div>

  </header>
  <div class="pa4 center mw7" itemprop="articleBody">
    <img src="::baseurl/public/images/::image" class="w-100" alt="::title"/>
    ::article
  </div>

  <article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-light-blue dark-blue mb5">
    <h4 class="fw6 f3 f2-ns lh-title mt0 mb3">
      Website Analytics
    </h4>
    <h5 class="fw2 f4 lh-copy mt0 mb3">
      VisitorKIT provides a powerful analytics solutions for companies of all shapes and sizes!
    </h5>
    <div>
      <a class="f6 bg-blue no-underline white ba b--dark-blue grow pv2 ph3 dib mr3"
        href="::baseurl/website-analytics.html">
        Learn More
      </a>
    </div>
  </article>

</article>
