<header class="sans-serif">
  <div class="cover bg-left bg-center-l" style="background-image: url(::baseurl/public/images/bg3.jpg)">
    <div class="bg-black-80 pb1 pb1-m pb4-l">
      <nav class="dt w-100 mw8 center">
        <div class="dtc v-mid tr pa3">
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="::baseurl/">Home</a>
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="::baseurl/website-analytics.html">Website Analytics</a>
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="::baseurl/marketing-campaign-analytics.html">Marketing Campaign Analytics</a>
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="::baseurl/try-visitorkit.html">Try Now</a>
        </div>
      </nav>
      <div class="tc mt1 mt1-m mt1-l ph1">
        <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">VisitorKIT Blog</h1>
        <h2 class="fw1 f3 white-80 mt3 mb4">A blog about analytics and marketing.</h2>
      </div>
    </div>
  </div>
</header>

<section class="mw7 center">
  <h2 class="ph3 ph0-l">Blog</h2>
  ::articles
</section>
