<div itemscope="" itemtype="http://schema.org/WebPage">
  <header class="sans-serif">
    <div class="cover bg-left bg-center-l" style="background-image: url(::baseurl/public/images/people.jpeg)">
      <div class="bg-black-80 pb5 pb5-m pb6-l">
        <nav class="dt w-100 mw8 center">
          <div class="dtc v-mid tr pa3">
            <a class="f6 fw4 hover-white no-underline white-70 dib pv2 ph3" href="::baseurl/">Home</a>
            <a class="f6 fw4 hover-white no-underline white-70 dib pv2 ph3" href="::baseurl/try-visitorkit.html">Try Now</a>
          </div>
        </nav>
        <div class="tc mt4 mt5-m mt6-l ph3 mw7 mw8-ns center">
          <h1 class="f2 f1-l fw2 white-90 mb0 lh-title" itemprop="name">Marketing Campaign Analytics</h1>
          <h2 class="fw1 f3 white-80 mt3 mb4" itemprop="description">VisitorKIT Analytics is simply the best way to monitor and analyze your marketing campaigns.</h2>
          <a class="f6 no-underline grow dib v-mid bg-blue white ba b--blue ph3 pv2 mb3" href="::baseurl/try-visitorkit.html">Try VisitorKIT</a>
          <span class="db dib-ns v-mid ph3 white-70 mb3">or</span>
          <a class="f6 no-underline grow dib v-mid white ba b--white ph3 pv2 mb3" href="::baseurl/request-a-demo.html">Request A Demo</a>
        </div>
      </div>
    </div>
  </header>

  <div class="mw8 center ph2-ns">
    <div class="cf ph2-ns">

      <div itemprop="breadcrumb" class="ph2 mt4 db">
        <a class="black no-underline"  href="::baseurl/">Home</a> >
        <a class="blue no-underline" href="::baseurl/marketing-campaign-analytics.html"><strong>Marketing Campaign Analytics</strong></a>
      </div>

      <div class="fl w-100 w-50-ns pa2">
        <div class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
          <div class="tc">
            <h3 class="f4">Optimize Your Onboarding</h3>
            <hr class="mw3 bb bw1 b--black-10">
          </div>
          <p class="lh-copy measure center f6 black-70">
            Build features that onboard customers effectively so they start using your features and see value instantly.
          </p>
        </div>
      </div>

      <div class="fl w-100 w-50-ns pa2">
        <div class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
          <div class="tc">
            <h3 class="f4">Better Understand Online Advertising</h3>
            <hr class="mw3 bb bw1 b--black-10">
          </div>
          <p class="lh-copy measure center f6 black-70">
            Detailed analytics and traffic reports broken down marketing referal. Use VisitorKIT to save money.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="mw8 center ph2-ns">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-60-ns pa2-ns">
        <div class="pa4">
          <p class="chart-cta">Breakdown Your Online Marketing Campaign By Source</p>
          <p>Works with any marketing platforms such as Google Adwords, Adroll, Facebook Ads and others.</a>
          <p class="mt4 b">How it works in 2 steps</p>
          <p>Step 1 (Install VisitorKIT JS library)<p>
          <p>Step 2 (Promote links with tracking code) <span class="bg-black-10 db pa2 mt1">http:://mysite.com/?ref=FacebookAds</span></p>
          <a class="f6 bg-blue mt2 no-underline white ba b--dark-blue grow pv2 ph3 dib mr3"
            href="::baseurl/try-visitorkit.html">
            Try VisitorKIT
          </a>
        </div>
      </div>
      <div class="fl w-100 w-40-ns pa2-ns">
        <img src="::baseurl/public/images/chart3.png" alt="Breakdown Your Online Marketing Campaign By Source"/>
      </div>
    </div>
  </div>

  <div class="mw8 center ph2-ns mv4 mv5-ns">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-60-ns pa2-ns">
        <div class="pa4">
          <p class="chart-cta">Set Marketing Campaign Goals</p>
          <p>Goals can can anything from a button click to url. You define the goal then VisitorKIT collects the data. Goals are setup with the VisitorKIT Dashboard and via the API Library.</p>
          <p>Save money by identifing unsuccesful marketing channels.</p>
          <a class="f6 bg-blue mt2 no-underline white ba b--dark-blue grow pv2 ph3 dib mr3"
            href="::baseurl/try-visitorkit.html">
            Try VisitorKIT
          </a>
        </div>
      </div>
      <div class="fl w-100 w-40-ns pa2-ns">
        <img src="::baseurl/public/images/chart4.png" alt="Set Marketing Campaign Goals"/>
      </div>
    </div>
  </div>

  <article class="pa3 pa5-ns">
    <h3 class="f2 ph3 ph5-ns tc">Answer the hard questions</h3>
    <ul class="list ph3 ph5-ns pb4">
      <li class="dib mr2"><a href="/try-visitorkit.html" class="f4 f4-ns b db pa2 link dim mid-gray">How many visitors from Facebook joined our newsletter?</a></li>
      <li class="dib mr2"><a href="/try-visitorkit.html" class="f4 f4-ns b db pa2 link dim mid-gray">Which Google Adwords campaign is most effective?</a></li>
      <li class="dib mr2"><a href="/try-visitorkit.html" class="f4 f4-ns b db pa2 link dim mid-gray">Which Social Media Network traffic spend more time on my website?</a></li>
      <li class="dib mr2"><a href="/try-visitorkit.html" class="f4 f4-ns b db pa2 link dim mid-gray">Do Twitter Ads work?</a></li>
    </ul>
  </article>

  <article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-light-blue dark-blue mb5">
    <h4 class="fw6 f3 f2-ns lh-title mt0 mb3">
      Start Understanding Your Customers
    </h4>
    <h5 class="fw2 f4 lh-copy mt0 mb3">
      Gather audience intelligence and measure campaign performance with VisitorKIT. Never miss the weak segment or property!
    </h5>
    <div>
      <a class="f6 bg-blue no-underline white ba b--dark-blue grow pv2 ph3 dib mr3"
        href="::baseurl/try-visitorkit.html">
        Try VisitorKIT
      </a>
    </div>
  </article>
</div>
