<div itemscope itemprop="organization" itemtype="http://schema.org/Organization">
  <header class="sans-serif">
    <div class="cover bg-left bg-center-l" style="background-image: url(::baseurl/public/images/marketing.jpeg)">
      <div class="bg-black-80 pb1 pb1-m pb4-l ph3-ns">
        <nav class="dt w-100 mw8 center">
          <div class="dtc v-mid tr pa3">
            <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="::baseurl/" itemprop="url">Home</a>
            <a class="f6 fw4 hover-white no-underline white-70 dib pv2 ph3" href="::baseurl/website-analytics.html">Website Analytics</a>
            <a class="f6 fw4 hover-white no-underline white-70 dib pv2 ph3" href="::baseurl/marketing-campaign-analytics.html">Marketing Campaign Analytics</a>
            <a class="f6 fw4 hover-white no-underline white-70 dib pv2 ph3" href="::baseurl/try-visitorkit.html">Try Now</a>
          </div>
        </nav>
        <div class="tc mt1 mw7 center mt1-m mt1-l ph1">
          <img src="::baseurl/public/images/logo-white.png" alt="VisitorKIT Analytics" height="60px"/>
          <h1 class="f2 f1-l fw2 white-90 mb0 mt0 lh-title" itemprop="name">VisitorKIT</h1>
          <h2 class="fw1 f3 white-80 mt3 mb4">Powerful Web Analytics and Marketing Funnels for companies of all shapes and sizes.</h2>
        </div>
      </div>
    </div>
  </header>

  <div class="mw8 center ph2-ns">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-50-ns pa2">
        <div class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
          <a class="tc black no-underline" href="::baseurl/website-analytics.html">
            <h3 class="f4">Website Analytics</h3>
            <hr class="mw3 bb bw1 b--black-10">
          </a>
          <p class="lh-copy measure center f6 black-70">
            VisitorKIT provides a powerful analytics solutions for companies of all shapes and sizes. <a class="tc black" href="::baseurl/website-analytics.html">Learn More</a>
          </p>
        </div>
      </div>

      <div class="fl w-100 w-50-ns pa2">
        <div class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
          <a class="tc black no-underline" href="::baseurl/marketing-campaign-analytics.html">
            <h3 class="f4">Marketing Campaign Analytics</h3>
            <hr class="mw3 bb bw1 b--black-10">
          </a>
          <p class="lh-copy measure center f6 black-70">
            VisitorKIT is simply the best way to monitor and analyze your marketing campaigns. <a class="tc black" href="::baseurl/marketing-campaign-analytics.html">Learn More</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mw8 center ph2-ns">
    <div class="cf ph2-ns">
      <div class="fl w-100 center pa2 tc">
        <h3 class="center db mt5 mb2">Analytics By Refferal Source</h3>
        <a class="f6 bg-blue no-underline white ba b--dark-blue grow pv2 ph3 dib mr3 mb2"
          href="::baseurl/marketing-campaign-analytics.html">
          Discover Marketing Analytics
        </a>
        <img src="::baseurl/public/images/chart1.png" alt="Discover Marketing Analytics"/>
        <h3 class="center db mt5 mb2">Analytics By Country</h3>
        <a class="f6 bg-blue no-underline white ba b--dark-blue grow pv2 ph3 dib mr3 mb2"
          href="::baseurl/website-analytics.html">
          Discover Web Analytics
        </a>
        <img src="::baseurl/public/images/chart2.png" alt="Discover Web Analytics"/>
      </div>
    </div>
  </div>

  <article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-light-blue dark-blue mb5">
    <h4 class="fw6 f3 f2-ns lh-title mt0 mb3">
      Start Understanding Your Customers
    </h4>
    <h5 class="fw2 f4 lh-copy mt0 mb3">
      Gather audience intelligence and measure campaign performance with VisitorKIT. Never miss the weak segment or property!
    </h5>
    <div>
      <a class="f6 bg-dark-blue no-underline white ba b--dark-blue grow pv2 ph3 dib mr3"
        href="::baseurl/try-visitorkit.html">
        Try VisitorKIT
      </a>
    </div>
  </article>
</div>
