<div itemscope="" itemtype="http://schema.org/WebPage">
  <header class="sans-serif">
    <div class="cover bg-left bg-center-l" style="background-image: url(::baseurl/public/images/website-analytics.jpeg)">
      <div class="bg-black-80 pb5 pb5-m pb6-l">
        <nav class="dt w-100 mw8 center">
          <div class="dtc v-mid tr pa3">
            <a class="f6 fw4 hover-white no-underline white-70 dib pv2 ph3" href="::baseurl/">Home</a>
            <a class="f6 fw4 hover-white no-underline white-70 dib pv2 ph3" href="::baseurl/try-visitorkit.html">Try Now</a>
          </div>
        </nav>
        <div class="tc mt4 mt5-m mt6-l ph3 mw7 center">
          <h1 class="f2 f1-l fw2 white-90 mb0 lh-title" itemprop="name">VistiorKIT Website Analytics</h1>
          <h2 class="fw1 f3 white-80 mt3 mb4" itemprop="description">VisitorKIT provides powerful analytics solutions for companies of all shapes and sizes.</h2>
          <a class="f6 no-underline grow dib v-mid bg-blue white ba b--blue ph3 pv2 mb3" href="::baseurl/try-visitorkit.html">Try VisitorKIT</a>
          <span class="db dib-ns v-mid ph3 white-70 mb3">or</span>
          <a class="f6 no-underline grow dib v-mid white ba b--white ph3 pv2 mb3" href="::baseurl/request-a-demo.html">Request A Demo</a>
        </div>
      </div>
    </div>
  </header>

  <div class="mw8 center ph2-ns">
    <div class="cf ph2-ns">

      <div itemprop="breadcrumb" class="ph2 mt4 db">
        <a class="black no-underline"  href="::baseurl/">Home</a> >
        <a class="blue no-underline" href="::baseurl/website-analytics.html"><strong>Website Analytics</strong></a>
      </div>

      <div class="fl w-100 w-50-ns pa2">
        <div class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
          <div class="tc">
            <h3 class="f4">Easy to understand Analytics</h3>
            <hr class="mw3 bb bw1 b--black-10">
          </div>
          <p class="lh-copy measure center f6 black-70">
            Understand your site and app users to better evaluate the performance of your content, products, and more.
          </p>
        </div>
      </div>

      <div class="fl w-100 w-50-ns pa2">
        <div class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
          <div class="tc">
            <h3 class="f4">Track</h3>
            <hr class="mw3 bb bw1 b--black-10">
          </div>
          <p class="lh-copy measure center f6 black-70">
            Website Hits, Time On Page, Mobile Devices, Browers, Operating Systems, Refferals, and so much more.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="mw8 center ph2-ns">
    <div class="cf ph2-ns">
      <div class="fl w-100 center pa2 tc">
        <h4 class="f3 center db mt5 mb0">Visitors By Refferal Source</h4>
        <p class="center db mb2 mt0">Keep eyes on traffic from any website. Do more with <a href="::baseurl/marketing-campaign-analytics.html" class="blue">Marketing Analytics</a></p>
          <img src="::baseurl/public/images/chart5.png" alt="Visitors By Refferal Source"/>
        <h4 class="f3 center db mt5 mb0">Visitors By Country</h4>
        <p class="center db mb2 mt0">Continent, State, and City data also Avaible</p>
        <img src="::baseurl/public/images/chart6.png" alt="Visitors By Country"/>
      </div>
    </div>
  </div>

  <div class="tc">
    <a class="bg-blue no-underline white ba b--dark-blue grow pv2 ph3 dib mr3"
      href="::baseurl/try-visitorkit.html">
      Try VisitorKIT
    </a>
  </div>

  <article class="pa3 pa5-ns mw8 center">
    <h4 class="f2 ph3 ph5-ns tc">Answer the hard questions</h4>
    <ul class="list ph3 ph5-ns pb4">
      <li class="dib mr2 tc"><a href="/try-visitorkit.html" class="f4 f4-ns b db pa2 link dim mid-gray">How many visitors are from our newsletter?</a></li>
      <li class="dib mr2 tc"><a href="/try-visitorkit.html" class="f4 f4-ns b db pa2 link dim mid-gray">Which city in Texas is the most popular?</a></li>
      <li class="dib mr2 tc"><a href="/try-visitorkit.html" class="f4 f4-ns b db pa2 link dim mid-gray">Which Social Media Network traffic spends more time on my website?</a></li>
    </ul>
  </article>

  <article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-light-blue dark-blue mb5">
    <h4 class="fw6 f3 f2-ns lh-title mt0 mb3">
      Start Understanding Your Customers
    </h4>
    <h5 class="fw2 f4 lh-copy mt0 mb3">
      Gather audience intelligence and measure campaign performance with VisitorKIT. Never miss the weak segment or property!
    </h5>
    <div>
      <a class="f6 bg-blue no-underline white ba b--dark-blue grow pv2 ph3 dib mr3"
        href="::baseurl/try-visitorkit.html">
        Try VisitorKIT
      </a>
    </div>
  </article>

</div>
