<div class="css-grd-wrapper">

  <div class="outline gc-2 gr-2">
    <div class="section-loading" id="view-prompt">
      <p>PROMPT</p>
      <center>
        <svg class="rec">
          <rect width="30" height="30" class="path" style="fill:rgba(0,0,255,0);stroke-width:3;" />
        </svg>
      </center>
    </div>
  </div>

  <div class="outline gc-1-3 gr-1">
    <div class="section-loading" id="view-weather">
      <p>WEATHER</p>
      <center>
        <svg class="rec">
          <rect width="30" height="30" class="path" style="fill:rgba(0,0,255,0);stroke-width:3;" />
        </svg>
      </center>
    </div>
  </div>

  <div class="outline gc-1 gr-2">
    <div class="section-loading" id="view-stats">
      <p>STATUS</p>
      <center>
        <svg class="rec">
          <rect width="30" height="30" class="path" style="fill:rgba(0,0,255,0);stroke-width:3;" />
        </svg>
      </center>
    </div>
  </div>

  <div class="outline gc-3 gr-1-3">
    <div class="section-loading" id="view-logger">
      <p>LOG</p>
      <center>
        <svg class="rec">
          <rect width="30" height="30" class="path" style="fill:rgba(0,0,255,0);stroke-width:3;" />
        </svg>
      </center>
    </div>
  </div>

</div>

<br clear="all"/>
<br>

<div class="css-grd-wrapper">

  <div class="outline gc-1 gr-1">
    <div class="section-loading" id="view-health">
      <p>HEALTH</p>
      <center>
        <svg class="rec">
          <rect width="30" height="30" class="path" style="fill:rgba(0,0,255,0);stroke-width:3;" />
        </svg>
      </center>
    </div>
  </div>

  <div class="outline gc-2 gr-1">
    <div class="section-loading" id="view-location">
      <p>LOCATION</p>
      <center>
        <svg class="rec">
          <rect width="30" height="30" class="path" style="fill:rgba(0,0,255,0);stroke-width:3;" />
        </svg>
      </center>
    </div>
  </div>

</div>
