
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Cancel</span></a></div>
  </div>
</div>
<div class="pages">
  <div data-page="compose" class="page">
    <div class="page-content">
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <input type="text" placeholder="Task.." class="" todo-title>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <textarea placeholder="Notes.." class="resizable" todo-note></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="content-block-title">Status</div>
      <div class="list-block">
        <ul scene-radio-list>
          <li>
            <label class="label-checkbox item-content">
              <input type="radio" name="f-scene-radio" value="In Progress">
              <div class="item-media">
                <i class="icon icon-form-checkbox"></i>
              </div>
              <div class="item-inner">
                <div class="item-title">In Progress</div>
              </div>
            </label>
          </li>
          <li>
            <label class="label-checkbox item-content">
              <input type="radio" name="f-scene-radio" value="On Hold">
              <div class="item-media">
                <i class="icon icon-form-checkbox"></i>
              </div>
              <div class="item-inner">
                <div class="item-title">On Hold</div>
              </div>
            </label>
          </li>
        </ul>
      </div>

      <p><a href="#" class="button button-round js-save-note">Save</a></p>

    </div>
  </div>
</div>
