<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
  </div>
</div>
<div class="pages">
  <div data-page="notebooks" class="page">
    <div class="page-content">
      <div class="content-block-title">Notebook</div>
      <div class="list-block">
        <ul notebook-list></ul>
      </div>
    </div>

    <div class="toolbar tabbar">
      <div class="toolbar-inner">
        <a href="#" class="tab-link" notebook-add>
          <i class="f7-icons" >add</i>
        </a>
      </div>
    </div>

  </div>
</div>
