<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
  </div>
</div>
<div class="pages">
  <div data-page="settings" class="page">
    <div class="page-content">
      <div class="content-block">
        <p><a href="?" class="button button-fill button-round">Refresh</a></p>
        <p><a href="#" class="button button-fill color-red button-round" settings-delete>Delete Everything!</a></p>
      </div>
    </div>
  </div>
</div>
