<div class="navbar">
  <div class="navbar-inner">
    <div class="center sliding">Welcome to Rillo</div>
  </div>
</div>
<div class="pages">
  <div data-page="welcome" class="page">
    <div class="page-content">
      <div class="content-block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel commodo massa, eu adipiscing mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus ultricies dictum neque, non varius tortor fermentum at. Curabitur auctor cursus imperdiet. Nam molestie nisi nec est lacinia volutpat in a purus. Maecenas consectetur condimentum viverra. Donec ultricies nec sem vel condimentum. Phasellus eu tincidunt enim, sit amet convallis orci. Vestibulum quis fringilla dolor.    </p>
      </div>
      <div class="content-block-title">Create your first notebook</div>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <input type="text" placeholder="Home, Work, etc." new-notebook>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <div class="content-block">
          <a href="#" class="button button-big active" get-started> Get Started</a>
        </div>

      </div>

    </div>
  </div>
</div>
