<article class="pv4 bt bb b--black-10 ph3 ph0-l">
  <a class="flex flex-column flex-row-ns black no-underline" href="::baseurl::link">
    <div class="w-100 w-60-ns pr3-ns order-2 order-1-ns">
      <h1 class="f3 mt0 lh-title">::title</h1>
      <p class="f5 f4-l lh-copy athelas">
        ::summary
      </p>
    </div>
    <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns">
      <img src="::baseurl/public/images/::image" class="db" alt="::title">
    </div>
  </a>
  <p class="f6 lh-copy gray mv0">By <span class="ttu">Terrillo Walls</span></p>
  <time class="f6 db gray">::date</time>
</article>
