<footer class="pa4 pa5-l black-70 bt b--black-10">
  <div class="mb4-ns cf">
    <p class="fl w-100 pv0 f6 fw6 ttu tracked mb4">::sitename</p>
    <article class="fl dib-ns w-100 w-33-ns bt bn-ns w-50-m pr4-ns">
      <h4 class="f5 f4-l fw6">Website Analytics</h4>
      <span class="f7 f6-l db black-70">VisitorKIT provides a powerful analytics solutions for companies of all shapes and sizes</span>
      <a class="f6 db fw6 pv3 black-70 link dim" title="Website Analytics" href="::baseurl/website-analytics.html">
        Learn More About Website Analytics
      </a>
    </article>
    <article class="fl dib-ns w-100 w-33-ns bt bn-ns w-50-m pr4-ns">
      <h4 class="f5 f4-l fw6">Marketing Campaign Analytics</h4>
      <span class="f7 f6-l db black-70">VisitorKIT is simply the best way to monitor and analyze your marketing campaigns.</span>
      <a class="f6 db fw6 pv3 black-70 link dim" title="Marketing Campaign Analytics" href="::baseurl/marketing-campaign-analytics.html">
        Learn More About Marketing Campaign Analytics
      </a>
    </article>
    <article class="fl dib-ns w-100 w-33-ns bt bn-ns w-50-m pr4-ns">
      <h4 class="f5 f4-l fw6">Blog</h4>
      <span class="f7 f6-l db black-70">A blog about analytics and marketing.</span>
      <a href="::baseurl/blog/index.html" class="link dim f6 db fw6 pv3 black-70" title="::sitename Blog">
        Learn about Analytics and Marketing
      </a>
    </article>
  </div>
  <section class="cf mb5">
    <div class="mb4 mb0-ns w-100 w-50-l fr">
    </div>
    <div class="mb4 mb0-ns fl w-100 w-50-l">
      <a href="::baseurl/try-visitorkit.html" class="input-reset w-100 w-auto-ns bg-blue white f5 pv2 pv3-ns ph4 ba bg-hover-mid-gray no-underline">Try VisitorKIT Today</a>
    </div>
  </section>
  <div class="dt dt--fixed w-100" >
    <div class="dn dtc-ns v-mid">
      <p class="f7 black-70 dib pr3 mb3">
        Copyright &copy; <a href="::baseurl" class="black no-underline">::sitename</a> LLC,. All rights reserved. | <a href="mailto:terrillo@visitorkit.com" class="black no-underline">Contact</a> |  <a href="sitemap.html" class="black no-underline">Sitemap</a>
      </p>
    </div>
    <div class="db dtc-ns black-70 tc tr-ns v-mid">
      <a href="https://www.facebook.com/Visitorkit-520371611683762/" class="link dim dib mr3 black-70" title="Impossible Labs on Facebook">
        <svg class="db w2 h2" data-icon="facebook" viewBox="0 0 32 32" fill="currentColor">
          <title >facebook icon</title>
          <path d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z"
          ></path>
        </svg>
      </a>
      <a href="https://twitter.com/visitorkit" class="link dim dib mr3 black-70">
        <svg class="db w2 h2" data-icon="twitter" viewBox="0 0 32 32"
          fill="currentColor" >
          <title >twitter icon</title>
          <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  <div class="db dn-ns">
    <p class="f7 black-70 mt4 tc w-100-m">
      Copyright &copy; <a href="::baseurl" class="black no-underline">::sitename</a> LLC,. All rights reserved.
    </p>
  </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/api.visitorkit.com/dist/visitorkit-1.0.min.js"></script>
<script>VK.init('0758a127-f3f5-4e21-a974-5f80f6690fe5'); </script>  

<body>
</html>
