$light: #f9f9f9;
$dark: #39f;

.container {
  max-width: 900px;
}
.co-container {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  border-color: $light;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.co-bar * {
  font-size: 12px !important;
  text-align: left;
}

.bar-row > div:first-child {
  background-color: $light !important;
}
